@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.position-arrows{
  position: absolute;
  right: 20px;
  top: 10px;
  transform: rotate(0);
  cursor: pointer;
}

.position-arrows:hover{
  scale: 1.2;
  filter: drop-shadow(1px 3px 3px #fff);
  transition: 300ms;
}

.position-arrows.show-off{
  transform: rotate(180deg);
}

.input-search {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 4px;
  margin: 0;
  width: 100%; 
  border-bottom: 1px solid #000; 
}

.search-icon {
  position: absolute;
  right: 25px;
  top: 50%; 
  transform: translateY(-50%);
  cursor: pointer;
}

.search-container {
  position: relative;
  margin: 25px 0;
}

.cards-container{
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  position: relative;
  background-color: #c9c9c9;
  min-width: 400px;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .cards-container{
    max-width: 768px;
    min-height: 100vh;
    margin: auto;
  }
  .card{
    min-width: 150px;
    min-height: 180px;
  }
}